.gestion-usuario {
  padding: 2rem;
  background-color: #f5f7f9;
  font-family: 'Comfortaa', sans-serif;
}

.gestion-boton {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.boton-nuevo-usuario {
  background-color: #0284C7;
  color: white;
  border: none;
  padding: 0.4rem 1.2rem;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.boton-nuevo-usuario:hover {
  background-color: #005fc1;
}

.gestion-usuarios-header select {
  padding: 0.4rem 0.6rem;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  cursor: pointer;
}

.gestion-usuario-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  padding-inline: 1.5rem;         
  box-sizing: border-box
}

.gestion-usuario-card {
  background-color: white;
  border-radius: 12px; 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15); 
  border: 1px solid rgba(0, 0, 0, 0.12); 
  padding: 1.8rem;
  width: 28rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.usuario-de-cada-tar{
  color:#999999;
}
.nombres-con-icono{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 0; 
  flex-grow: 1;
  overflow: hidden;
  
}
.nombre-usuario-texto {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gestion-usuario-inicio-dato {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.6rem;
  font-weight: 600;
}
.gestion-usuario-dato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
  gap: 0.5rem;
  white-space: nowrap;
  color: #23263D;
}
.correo-usuario-entre-iconos{
  display: inline-block;
  max-width: 12rem;       
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.gestion-usuario-dato span{
  font-size: 1rem;
}
.gestion-usuario-dato span:last-child {
  max-width: 60%;
  text-align: right;
}

.gestion-usuario-dato span:last-child {
  text-align: right;
  white-space: nowrap;
}

.tag-rol,
.tag-estado {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.tag-rol {
  background-color: #0284C7;
}

.tag-estado {
  background-color: #6542FF;
}

.acciones {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
  flex-shrink: 0;
}
/*icocnos*/
.icono-editar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icono-editar:hover {
  transform: scale(1.1);
}
.icono-borrar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icono-borrar:hover {
  transform: scale(1.1);
}

  