.estado-badge {
  font-size: 0.7rem;
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
  font-weight: 600;
  width: fit-content;
  margin-top: 0.2rem;
  display: inline-block;
}

.estado-badge.en-inscripcion {
  background-color: #007bff;
  color: white;
}

.estado-badge.en-competencia {
  background-color: orange;
  color: white;
}

.estado-badge.finalizado {
  background-color: #10b981;
  color: white;
}

.estado-badge.borrador {
  background-color: #6c757d;
  color: white;
}

.estado-badge.en-pagos {
  background-color: #f59e0b;
  color: black;
}