.registro-competidores-contenedor {
  font-family: 'Comfortaa', sans-serif;
  padding: 40px 5%;
  background: #f9fafb;
  color: #222;
}

.dashboard-titulo {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}

.seccion-resumen-estadisticas {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.tarjeta-estadistica {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 24px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.tarjeta-estadistica p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  text-align: left;
}

.tarjeta-estadistica h3 {
  font-size: 22px;
  margin: 0;
  text-align: left;
}

.contenedor-info-tarjetas {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.tarjeta-inscripcion-activa,
.tarjeta-convocatoria-activa {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 24px;
  border: 1px solid #e0e0e0;
}


.estado-inscripcion {
  display: inline-block;
  padding: 6px 14px;
  font-size: 13px;
  border-radius: 14px;
  margin-top: 12px;
  font-weight: 500;
}

.pendiente {
  background-color: #F9EDA2;
  color: #985910;
}

.seccion-tabla-pagos {
  margin-top: 20px;
}

.titulo-tabla-pagos {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}

.tabla-pagos {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
}

.tabla-pagos th,
.tabla-pagos td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.tabla-pagos th {
  background-color: #f6f8fa;
  font-weight: 500;
}

.boton-ver-detalles {
  background-color: #e2ebe1;
  color: #111;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.2s ease;
}

.boton-ver-detalles:hover {
  background-color: #94ec61;
}
.titulo-tarjeta,
.titulo-tabla-pagos {
  font-weight: bold;
  font-size: 1.2rem;
  color: #111;
}
.tarjeta-pagos-box {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-top: 2rem;
  font-family: 'Comfortaa', sans-serif;
}
.titulo-tabla-pagos {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #111;
}
.tarjeta-inscripcion-activa,
.tarjeta-convocatoria-activa {
  position: relative;
  padding-bottom: 2rem;
  font-size: 15px;
}

.badge-estado {
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  border-radius: 12px;
  font-weight: 500;
}

.validada {
  background-color: #B8E0A9;
  color: #111212;
}

.en-inscripcion {
  background-color: #ACCCFF;
  color: #121314;
}
